@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Identity
@using BlazorApp6.Data
@using BlazorApp6.Components.Test

@inject TestsHelperService te
@inject IHttpContextAccessor _httpContextAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                        <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                    </button>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="#" class="nav-link px-2 link-secondary">Any link</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-2 link-dark">Any link</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-2 link-dark">Any link</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-2 link-dark">Any link</a>
                        </li>
                    </ul>


                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="A" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                            <li>
                                <a class="dropdown-item" href="#">Any link</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Any link</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Any link</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            
                                <AuthorizeView>
                                    <Authorized>
                                        <li>
                                        <form action="Account/Logout" method="post">
                                            <AntiforgeryToken/>
                                            <input type="hidden" name="ReturnUrl" value=""/>
                                            <button type="submit" class="dropdown-item "> Выход </button>
                                        </form>
                                        </li>
                                    </Authorized>
                                    <NotAuthorized>
                                        <li>
                                            <a class="dropdown-item" href="Account/Register">Регистрация</a>
                                        </li>
                                        <li >
                                            <a class="dropdown-item" href="Account/Login">Вход</a>
                                        </li>
                                    </NotAuthorized>
                                </AuthorizeView>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <article class="content px-4" style="display:flex; justify-content:center">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>