@page "/Account/ForgotPasswordConfirmation"
@layout MainAuthorizeLayout

@using BlazorApp6.Components.Layout
<PageTitle>Восстановление пароля</PageTitle>


<div class="row">
    <div class="col border rounded-3 p-3">
        <h1>Востановление пароля</h1>
        <p>
            Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
        </p>
    </div>
</div>