@page "/Account/ResetPasswordConfirmation"
@layout MainAuthorizeLayout

@using BlazorApp6.Components.Layout
<PageTitle>Сброс пароля</PageTitle>

<div class="row">
    <div class="col border rounded-3 p-3">
        <h1>Сброс пароля</h1>
        <p>
           Ваш пароль был сброшен. Пожалуйста, <a href="Account/Login">нажмите здесь, чтобы войти</a>.
        </p>
    </div>
</div>